h1,
h2,
p,
li,
h3,
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

h2 {
  padding-top: 0;
  margin: 0;
}

p {
  font-size: 16px;
  color: #ffffff;
}

h1 {
  font-size: 2.8em;
}

a {
  padding: 1em;
  background-color: white;
  color: #486359;
  text-decoration: none;
  border-radius: 1em;
  margin-right: 2em;
}

#project-title,
#project-subtitle,
#project-location {
  margin-left: 10%;
}
#project-subtitle {
  padding-top: 2em;
  color: #ffffff;
}
#project-title {
  margin-bottom: 0em;
}

.section-name {
  color: #ffffff;
}

.section {
  margin: 2em 6em 2em 6em;
  padding: 2em 3em 2em 3em;
  border-radius: 2em;
  overflow: auto; /*encompass video and text*/
  background-color: #6e9586;
  box-shadow: 0.3em 0.3em 0.5em #486359;
}

.step-name {
  color: #ffffff;
  font-size: 2em;
  padding-left: 10%;
}

.step-description {
  padding-left: 13%;
  width: 60%;
}

img {
  margin-bottom: 3em;
  margin-top: 1em;
  width: 98%;
}

#style-guide {
  width: 80%;
  margin: 2em 6em 2em 6em;
  border-radius: 2em;
}
